{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-2 center-align">Add Review</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_review') }}">
        <!-- add title -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-book prefix light-green-text text-darken-2"></i>
                <input id="title" name="title" type="text" minlength="1"
                    maxlength="40" class="validate" required>
                <label class="font-black" for="title">Title...</label>
            </div>
        </div>
        <!-- add author -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-circle prefix light-green-text text-darken-2"></i>
                <input id="author" name="author" type="text" minlength="1"
                    maxlength="50" class="validate" required>
                <label class="font-black" for="author">Author...</label>
            </div>
        </div>
        <!-- add genre -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-masks-theater prefix light-green-text text-darken-2"></i>
                <input id="genre" name="genre" type="text" maxlength="40" class="validate" required>
                <label class="font-black" for="genre">Genre...</label>
            </div>
        </div>
        <!-- select rating */10 -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-star prefix light-green-text text-darken-2"></i>
                <select id="rating" name="rating" class="validate" required>
                    <option value="" disabled selected>Rate out of 10!</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <label class="font-black" for="rating">Rating</label>
            </div>
        </div>
        <!-- add summary/description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-green-text text-darken-2"></i>
                <textarea id="summary" name="summary" minlength="5" maxlength="800"
                    class="materialize-textarea validate" required></textarea>
                <label class="font-black" for="summary">Summary...</label>
            </div>
        </div>
        <!-- add image URL -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image prefix light-green-text text-darken-2"></i>
                <!-- tool tip for image help -->
                <i class="tooltipped fas fa-circle-info right"
                    data-tooltip="Having trouble? Try searching for an image, right click it, 
                        select 'open image in a new tab' and copy/pasting the URL(the web address 
                        at the top of the page) here!"></i>
                <input id="cover_art" name="cover_art" type="text" class="validate" required>
                <label class="font-black" for="cover_art">Image URL...</label>
            </div>
        </div>
        <!-- add affiliate link -->
        {% if session["user"] == "admin" %}
        <div class="row">
           <div class="input-field col s12">
               <i class="fas fa-link prefix light-green-text text-darken-2"></i>
               <input id="affiliate_link" name="affiliate_link" type="text" class="validate">
               <label class="font-black" for="affiliate_link">Affilate Link...</label>
           </div>
       </div>
       {% endif %}
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-green darken-2 text-shadow">
                    Add Review <i class="fas fa-pencil right"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}