{% extends "base.html" %}
{% block content %}

    <div class="row card-panel search-bar grey lighten-5">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-green-text text-darken-2"></i>
                    <input type="text" name="query" minlength="1" id="query" class="validate" required>
                    <label for="query">Search...</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_reviews') }}" class="red darken-1 btn text-shadow">Reset</a>
                    <button class="light-green darken-1 btn text-shadow overflow-hidden">
                        Search<i class="fas fa-search left"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        {% for review in reviews %}
                <div class="col s12 m6 xl4">
                    <div class="card card-height">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ review.cover_art }}" alt="book cover artwork for the book {{ review.title }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator button-floating halfway-fab grey-text text-darken-4">
                                <i class="fas fa-bars right"></i>
                            </span>
                            <h5 class="truncate"><strong>{{ review.title.title() }}</strong></h5>
                            <p class="truncate"><strong>Author:</strong> {{ review.author.title() }}</p>
                            <p class="truncate"><strong>Genre:</strong> {{ review.genre.capitalize() }}</p>
                            <p><strong>Rating:</strong> {{ review.rating }}/10</p>
                            <p class="truncate"><strong>Created by:</strong> {{ review.user_created.capitalize() }}</p>
                            {% if review.affiliate_link %}
                            <div class="spacing"></div>
                            <a href="{{ review.affiliate_link }}" target="_blank" class="fix-btn-location uppercase btn light-green darken-2">Buy Now!</a>
                            {% endif %}
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><strong>{{ review.title.title() }}</strong><i class="fas fa-x right"></i></span>
                            <p><strong>Summary:</strong> {{ review.summary }}</p>
                            {% if review.affiliate_link %}
                            <div class="spacing"></div>
                            <a href="{{ review.affiliate_link }}" target="_blank" class="fix-btn-location uppercase btn light-green darken-2">Buy Now!</a>
                            {% endif %}
                            {% if session["user"] == review.user_created or session["user"] == "admin" %}
                                <a href="{{ url_for('edit_review', review_id=review._id) }}"
                                    class="btn left light-green darken-1"><i class="fas fa-cog"></i></a>
                                <!-- Modal Trigger -->
                                <a href="#deleteReviewModal"
                                    class="btn right red darken-1 modal-trigger delete-btn btn-small" data-review-id="{{ review._id }}"><i class="fas fa-trash"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

    <!-- Modal Structure -->
    <div id="deleteReviewModal" class="modal">
        <div class="modal-content">
            <h4 class="center">Are you sure?</h4>
            <h5 class="center"> This will delete the review PERMANENTLY!</h5>
            <a href="{{ url_for('profile', username=session['user']) }}" id="confirm-delete"
                class="red darken-1 btn right">Delete Review</a>
            <a href="#" class="modal-close light-green darken-2 btn right">Cancel</a>
        </div>
    </div>
   
{% endblock %}